

body {
    margin: 0;
    padding: 0;
    color: grey;
    background-color: #f5abc9;
    box-sizing: border-box;
    font-family: sans-serif;
}

.content {
    margin: 100px 10%;
    display: flex;
    justify-content: space-around;
}

.content > div {
    width: 35%;
    height: 500px;
    border-radius: 10px;
}

.tabs {
    background-color: #FFE5E2;
    position: relative;
}

.steps {
    display: flex;
    align-items: center;
    height: 80px;
}

.steps .step:first-child {
    border-top-left-radius: 10px;
}

.steps .step:last-child {
    border-top-right-radius: 10px;
}

.steps .step {
    flex: 1;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B6C9F0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.step.active {
    background-color: #FFE5E2;
}

.steps .step:hover {
    background-color: rgb(214, 26, 89);
    color: white;
}

.step.active:hover {
    background-color: #FFE5E2;
    color: grey;
}

.step-section {
    padding: 50px
}

.step-text {
    margin-top: 20px;
}

/* to test 
.tabs::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
}
*/