* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(145, 185, 218), rgb(209, 209, 150));;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.buttons .button-style {
    border: none;
    background-color: white;
    padding: 20px;
    cursor: pointer;
    color: rgb(53, 50, 44);
    border-radius: 25px;
    transition: .2s ease;
}

.buttons .button-style:hover {
    background-color: rgb(53, 50, 44);
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

.container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid rgb(13, 128, 156);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(13, 128, 156);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results .result {
    margin: 20px 20px;
    border: 1px solid rgb(209, 209, 150);
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(209, 209, 150);
    color: rgb(44, 23, 23);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.results, .choices {
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.images-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(215, 224, 226);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    margin: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(215, 224, 226);
}

.images img {
    width: 60px;
    height: 60px;
    transition: 0.2s ease;
}

.images img:hover {
    transform: scale(1.1);
}

.container .choices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
}

.container .choices .choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice .images {
    width: 80px;
    height: 80px;
}

.choice .images img {
    width: 40px;
    height: 40px;
}

